<manifest xmlns:dist="http://schemas.android.com/apk/distribution"
    package="jdr.tv.schedule">

    <dist:module
        dist:instant="false"
        dist:title="@string/schedule">
        <dist:delivery>
            <dist:install-time />
        </dist:delivery>
        <dist:fusing dist:include="false" />
    </dist:module>
</manifest>

