<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="jdr.tv.schedule">

    <dist:module
        dist:instant="false"
        dist:onDemand="false"
        dist:title="@string/schedule">
        <dist:fusing dist:include="true" />
    </dist:module>
</manifest>

